* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images6.alphacoders.com/455/thumb-1920-455565.png");
}

.quote {
  margin-top: 10rem;
  border: 1px solid white;
  width: 60%;
  height: 30rem;
  position: relative;
  left: 15rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 5%;
}

.quote .small1 {
  top: 4rem;
  position: relative;
  width: 100%;
  color: white;
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

.quote .small2 {
  top: 4rem;
  position: relative;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

.quote .small3 {
  top: 4rem;
  position: relative;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}
.quote .small4 {
  top: 4rem;
  position: relative;
  width: 100%;
  color: white;
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

.quote .larger {
  top: 4rem;
  position: relative;
  width: 100%;
  color: white;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Padauk", sans-serif;
}

@media screen and (max-width: 950px) {
  #mathQuote {
    margin-left: -200px;
  }
}

/* @media screen and (max-width: 600px) {
  .introduction{
    margin-left: -18.5rem;
  }

  .quote{
    height: 32rem;
    width: 30rem;
    margin-left: 10px;
  }
} */

@media screen and (max-width: 850px) {
  #mathQuote {
    margin-left: -3rem;
  }
}
@media screen and (max-width: 750px) {
  .quote .small1 {
    font-size: 20px;
  }
  .quote .small2 {
    font-size: 20px;
  }
  .quote .small3 {
    font-size: 20px;
  }
  .quote .small4 {
    font-size: 20px;
  }
  .quote .larger {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  #mathQuote {
    margin-left: -7rem;
  }
}

@media screen and (max-width: 350px) {
  #mathQuote {
    margin-left: -9rem;
    height: 22rem;
    width: 14rem;
  }
  .quote .font{
    font-size: medium;
  }
}

@media screen and (max-width: 400px) {

  #active-menu a {
    margin-left: 1px;
  }
}
